1. 所有import 尽量写在文件开头
2. 一个函数调用尽量写到一行
3. 最小版本代码，不必须的log不加
4. try except 只在必要的时候添加，我需要bug直接暴露
5. 代码需要易读、简洁、
6. 一个函数最好不超过200行，如果一个函数内某一个步骤特别长，解耦开， 写一个新函数
7. 数据读取能批量就批量读取，starrock一次不超过50个, mysql一次不超过100个
8. 写完后检查200%必错bug，和重要逻辑暴露
9. 一样的问题, 不要改一下让我apply一下，能一起改的一起改。
10. 一个函数内，每一个步骤用 Process 1. XXXXX 加上注释
11. 尽量少打log
12. 新加的线程调度的函数写在D:\sigen_ai\sigen-pv-prediction\src\schedulers
13. 每个大功能必须给出to-do-list,可以有几个子工作项，做完一个勾掉一个